.signContainer {
  transform-origin: top left;
  position: relative;
  height: 490px;
  width: 1830px;
}

.signBoxShadow {
  user-select: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  color: #1a1a1a;
  box-shadow: inset 0 0 15px black;
}
